body {font-family: 'Lato', sans-serif;
	font-size: 16px;}
*, *:before,*:after {box-sizing: border-box; margin: 0; padding: 0;}
ul, li {display: block;
		padding: 0;
		margin: 0;}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.container { width:100%; 
			max-width:1140px;
			margin: 0 auto;}

/* Стили шапки */
header {padding: 30px 0px;
		background-color: #f6f9f9;}

.logo_container {margin: 0 25px;}

/* Стили Intro */

.intro {padding: 215px 0 90px 0;
		background: url(../assets/background.jpg) no-repeat center;
		background-size: cover;
		color: #fff;
		text-align: center;}

.intro_content h1 {font-size: 120px;
	line-height: 120px;
	font-weight: bold;
	text-transform: uppercase;}

.intro_content hr {border:none;
	background-color: #15a4fa;
	color: #15a4fa;
	height: 2px;
	width: 600px;
	margin: 35px auto;}

.intro_content p {font-size: 20px;
				font-weight: 400;
				line-height: 20px;}

.intro_content span {text-transform: uppercase;}

.cta_button {width: 200px;
			height: 55px;
			border: 1px solid #15a4fa;
			border-radius: 3px;
			margin: 0 auto;
			background: transparent;
			font-size: 18px;
			font-weight: 400;
			color: #fff;
			margin: 67px 0 178px 0;
			cursor: pointer;
			outline: none;}

.intro_content a {text-decoration: none;}

.arrow {width: 15px;
		height: 15px;
		border-top: 3px solid #fff;
		border-left: 3px solid #fff;
		margin: 0 auto;
		 transform: rotate(-135deg);
    	-webkit-transform: rotate(-135deg);}


/* Стили второй секции */

.features, .section {padding: 80px 0 0 0;
			background-color: #f6f9f9;
			text-align: center;}

.section_headding {padding: 0 0 98px 0;}

.heading_content h2 {font-size: 40px;
					font-weight: 400;
					line-height: 40px;
					margin-bottom: 30px;
					color:#2d3950;}
.heading_content p {font-size:20px;
					font-weight:400;
					line-height: 32px;
					color:#999999;}

.icon_block {padding: 65px 0 70px 0;
		background-color: #fff;}

.features_item {width: 30%;
				display: inline-block;}

.first, .left {float: left;}
.last, .right{float: right;}

.features_item h3 {
				font-size:22px;
				color:#2d3950;
				margin: 33px 0 18px 0;
				font-weight: 400;}

.features_item p {font-size:15px;
				color:#999999;
				line-height: 22px;}


/* Третья секция*/

.cases {padding-bottom: 116px;
		position: relative;}


.cases_column {display: inline-block;
				width:31.7%;
				height: 520px;}
.cases_item {display: inline-block;
			height: 260px;
			overflow: hidden;
			position: relative;}
.left {float: left;}
.right {float: right;}

.upper {margin-bottom: 30px;}

.cases_image {object-fit: cover;
				width: 100%;
				height: 100%;}

.image_hover {width: 100%;
			height: 100%;
			background:#2cadfa;
			position: absolute;
			left: 0;
			top:0;
			opacity: 0;
			display: none;
			transition: opacity 0.5s linear;
			padding: 109px 0;}

.cases_item:hover .image_hover {display: block;
								opacity: 0.9;}


.links_block {display: block;
			margin: 0 auto;
		  	width: 95px;}

.link {display: inline-block;
		cursor: pointer;}

.link_zoom {float: left;}
.link_go {float: right;}

.b-popup{
    width:100%;
    height:100%;
    background-color: #fff ;
    opacity: 1;
    overflow:hidden;
    position:absolute;
    top:0;
	left: 0;
	padding: 280px 0 0 0;
	z-index: 2;}

.b-popup .b-popup-content{
    margin: 0 auto;
    width:100%;
    height: 550px;
    opacity: 1;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;}

.full_image_block {width: 100%;
					height: 100%;
					position: relative;}

.cancel_preview {position: absolute;
				top:-20px;
				right:20px;
				background: url(../assets/cancel.png) center;
				z-index: 4;
				width: 40px;
				height: 40px;
				cursor: pointer;}


.preview_item {object-fit: cover;
				width: 100%;
				height: auto;}

/* Секция контактов */

.contacts {background: url(../assets/contactbg.jpg) no-repeat center;
			background-size: cover;
			padding-bottom: 68px;} 

.contact_heading h2 {color:#fff;}
.contact_heading {padding-bottom:50px;}



.contact_form {width: 550px;
				margin: 0 auto;}
.form_item {display: block;
			width: 100%;
			margin-bottom: 20px;
			height: 60px;
			border-radius: 3px;
			background:transparent;
			border:1px solid #999;
			padding: 20px;
			font-size: 15px;
			line-height: 15px;
			outline: none;
			color: #fff;}

.area {height: 160px;
		resize:none}


input::placeholder, textarea::placeholder {color:#999;}


.form_button {height: 45px;
			width: 140px;
			border-color: #15a4fa;
			color:#fff;
			font-size:18px;
			line-height: 18px;
			padding: 0;
			margin: 0px;
			float: right;
			cursor: pointer;}

.contact_separation {width: 100%;
					height: 60px;}

.check_block {height: 45px;
			width: 300px;
			float: left;
			text-align: left;
			position: relative;}

.check_block span {font-size:15px;
					line-height: 15px;
					color:#ffffff;
					position: absolute;
					z-index: 1;
					left:12%;
					top:35%;}

.news_checkbox {height: 17px;
				width: 17px;
				background:#999;
				border-radius: 2px;
				position: absolute;
				left:0;
				top:30%;
				z-index: 1;}

/* Footer*/

footer {background: #f6f9f9;
		padding: 0;}
.footer_info {float: left;
				padding: 40px 0;}

.footer_info {color: #999999;
					font-size:15px;
					font-weight:400;}

.footer_info span {text-transform:uppercase;}

.footer_icon_block {float: right;
					display: inline-block;
					padding: 25px 0;}
.social_icon {margin-left: 5px;
			display: inline-block;
			cursor: pointer;}


/*.faceboo:hover {}
.liked:hover {}
.google:hover {}
.twitter:hover {} */


.liked {background: url(../assets/Hover_liked.png);
		height: 40px;
		width: 40px;
		transition: background 0.5s ease;}
.google {background: url(../assets/Hover_google.png);
		height: 40px;
		width: 40px;
		transition: background 0.5s ease;}
.twitter {background: url(../assets/Hover_twitter.png);
		height: 40px;
		width: 40px;
		transition: background 0.5s ease;}
.facebook {background: url(../assets/Hover_facebook.png);
		height: 40px;
		width: 40px;
		transition: background 0.5s ease;}
.liked:hover {background:url(../assets/Normal_liked.png);}
.google:hover {background:url(../assets/Normal_google.png);}
.twitter:hover {background:url(../assets/Normal_twitter.png);}
.facebook:hover {background:url(../assets/Normal_facebook.png);}


/*Адаптивность*/

@media screen and (max-width: 1175px) {
	.container {width: 100%;
				padding:0 15px;}


	.right, .central, .left {float: none;
			display: block;
			width: 100%;
			height:260px;}
	.left, .central {margin-bottom: 30px;}
.cases_item {width: 40%;}
.upper {margin-bottom: 0;}
.lf {margin-right: 30px;}
}

@media screen and (max-width: 768px) {

.cases_item {display: block;
			width: 55%;
			margin: 0 auto;
			margin-bottom: 30px;
			overflow: hidden;}
.cases {padding-bottom: 50px;}

.section_headding {padding: 0 0 40px 0;}

.right, .central, .left {height: auto; margin: 0 auto;}
 .image_hover {padding: 90px 0;}
.links_block { width: 90%;}
.link {width: 50%;
		height: 100%;}
.link_img {width:75px;
			height: 75px;}
}


@media screen and (min-width: 280px) and (max-width: 640px) {
	.cases_item {width: 90%;}
	.first, .middle, .last {float: none;
							display: block; 
							width: 70%;
							margin:0 auto;
							margin-top: 30px;}

	.first {margin-top: 20px;}
	.contact_form {width: 90%;}
	.intro_content hr {width: 90%;}
	.intro_content h1 {font-size:75px;}

	.form_button, .check_block {display: block;
								float: none;
								margin: 0 auto;
								text-align: center;}
	.contact_separation {height: auto;}
	.news_checkbox {left:25%;}
	.check_block span {left:35% ;}

	.form_button {margin-top: 40px;}
	.b-popup{width: 90%;}
	.footer_info, .footer_icon_block {float: none;
										display: block;
										margin: 0 auto;
										height: auto;
										text-align: center;}
	.link_zoom {display: none;}
	.link_go {margin: 0 auto;
				width: 100%;}
}

@media screen and (min-width:280px) and (max-width:362px) {
	.news_checkbox {left:10%;}
	.check_block span {left:20%;}

}


/* Testing GIT */